@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.66;
  letter-spacing: 0.08em;
  color: #b9b9b9;
}
@media screen and (min-width: 1400px) {
  body {
    font-size: 18px;
    line-height: 1.55;
  }
}

.text-dark {
  color: #3d3d3d;
}

.bold-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;
  color: #111518;
}
@media screen and (min-width: 1400px) {
  .bold-text {
    font-size: 20px;
    line-height: 1.4;
  }
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.title {
  font-size: 20px;
  font-weight: 800;
  line-height: 1.35;
  color: #111518;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 26px;
    font-weight: 800;
    line-height: 1.308;
  }
}
@media screen and (min-width: 1400px) {
  .title {
    font-size: 46px;
    font-weight: 800;
    line-height: 1.304;
  }
}

.black-background {
  color: #ffffff;
}

.container {
  padding: 0 20px;
  width: 100%;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 40px;
  }
}
@media screen and (min-width: 1400px) {
  .container {
    padding: 0 15px;
    max-width: 1344px;
  }
}
.primary-button.button-header {
  color: #ff6b09;
  border: 2px solid #ff6b09;
  background-color: transparent;
}

.primary-button.button-main {
  display: none;
}

.icon-cross {
  display: none;
  top: 100px;
  fill: #ffffff;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.logo-mobile {
  line-height: 0;
}

.page-header .logo-main {
  display: none;
}
.page-header-container {
  padding-top: 30px;
}
.page-header-navigation-container {
  display: flex;
  align-items: center;
}

.menu-button {
  position: absolute;
  top: 35px;
  right: 20px;
  margin-left: auto;
  background-color: transparent;
  border: 0;
  z-index: 3;
  cursor: pointer;
}

.site-nav {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  margin-top: 50px;
  margin-bottom: 50px;
}
.site-nav-item-link {
  font-size: 20px;
  font-weight: 800;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav-item-link:hover, .site-nav-item-linkfocus {
  color: #ff6b09;
}

@media screen and (max-width: 767px) {
  .site-nav {
    width: 100%;
    max-width: 260px;
  }

  .menu-container {
    display: none;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    padding-top: 30px;
    width: 100%;
    height: 568px;
    background-color: rgba(17, 21, 24, 0.98);
    padding-left: 20px;
    padding-right: 20px;
  }
  .menu-container.is-open {
    display: block;
    z-index: 2;
  }
  .menu-container.is-open .icon-cross {
    display: block;
  }

  .primary-button.button-mobile {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1399px) {
  .menu-container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 40px;
    width: 100%;
    height: 1024px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: rgba(17, 21, 24, 0.98);
    z-index: 2;
  }
  .menu-container.is-open {
    display: block;
  }
  .menu-container.is-open .logo-main-hell, .menu-container.is-open .logo-main-en, .menu-container.is-open .logo-main-eng {
    color: #ffffff;
  }
}
@media screen and (min-width: 480px) {
  .menu-button {
    right: calc((100% - 440px) / 2);
  }

  .header .logo-mobile {
    padding-left: calc((100% - 440px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .menu-button {
    top: 55px;
    right: calc((100% - 688px) / 2);
  }

  .header .logo-main.white {
    position: absolute;
    top: 40px;
    left: calc((100% - 688px) / 2);
  }

  .logo-mobile {
    display: none;
  }

  .page-header .logo-main {
    display: flex;
  }
  .page-header-container {
    padding-top: 40px;
  }

  .primary-button.button-mobile {
    display: none;
  }

  .primary-button.button-main {
    display: block;
    margin-left: 215px;
  }

  .site-nav {
    width: 332px;
    padding-top: 120px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .site-nav-item-link {
    font-size: 26px;
    font-weight: 800;
    line-height: 1.808;
  }
}
@media screen and (min-width: 1400px) {
  .menu-button {
    display: none;
  }

  .primary-button.button-main {
    display: none;
  }

  .logo-main.white {
    display: none;
  }

  .page-header-container {
    padding-top: 30px;
  }
  .page-header-navigation {
    display: flex;
    align-items: center;
  }
  .page-header-navigation-container {
    padding: 0;
  }

  .logo-main.black {
    display: flex;
  }

  .primary-button.button-mobile {
    display: block;
    margin-left: 64px;
    min-width: 336px;
    height: 70px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.214;
    letter-spacing: 0.14em;
  }

  .site-nav {
    display: flex;
    width: 100%;
    margin-left: 144px;
    text-align: left;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  .site-nav-item-link {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.214;
    color: #b9b9b9;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  .site-nav .item + .item {
    margin-left: 40px;
  }

  .menu-container {
    display: flex;
    align-items: center;
  }
}
.hero .container {
  position: relative;
}

.hero {
  padding-top: 50px;
  padding-bottom: 92px;
  background-image: url("/mobile-hero-bg.12c80dbd.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom -50px;
}
@media screen and (min-width: 320px) {
  .hero {
    background-image: url("/mobile-hero-bg.12c80dbd.png");
  }
}
@media screen and (min-width: 320px) and (min-device-pixel-ratio: 2), screen and (min-width: 320px) and (min-device-pixel-ratio: 2) and (min-resolution: 192dpi), screen and (min-width: 320px) and (min-device-pixel-ratio: 2) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("/mobile-hero-bg@2x.36eb2a06.png");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: url("/tablet-hero-bg.93846b08.png");
    padding-top: 70px;
    background-position: center bottom -13px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-device-pixel-ratio: 2) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-device-pixel-ratio: 2) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("/tablet-hero-bg@2x.0b263ed4.png");
  }
}
@media screen and (min-width: 1400px) {
  .hero {
    background-image: url("/desktop-hero-bg.590f47ab.png");
    background-position: center bottom;
    padding-top: 125px;
  }
}
@media screen and (min-width: 1400px) and (min-device-pixel-ratio: 2), screen and (min-width: 1400px) and (min-device-pixel-ratio: 2) and (min-resolution: 192dpi), screen and (min-width: 1400px) and (min-device-pixel-ratio: 2) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("/desktop-hero-bg@2x.dc2094b4.png");
  }
}

.hero-picture {
  max-width: 208px;
  display: block;
  margin: 30px auto 0 auto;
}
@media screen and (min-width: 768px) {
  .hero-picture {
    max-width: 375px;
    position: absolute;
    top: 0;
    right: 20px;
  }
}
@media screen and (min-width: 1400px) {
  .hero-picture {
    max-width: 750px;
    top: -80px;
    right: -20px;
  }
}

@media screen and (min-width: 768px) {
  .hero-title {
    max-width: 277px;
  }
}
@media screen and (min-width: 1400px) {
  .hero-title {
    font-size: 58px;
    font-weight: 800;
    line-height: 1.293;
    max-width: 612px;
  }
}
.hero-title-undertitle {
  margin-top: 30px;
  margin-bottom: 30px;
}
@media screen and (min-width: 320px) and (max-width: 1399px) {
  .hero-title-undertitle {
    max-width: 312px;
  }
}
@media screen and (min-width: 1400px) {
  .hero-title-undertitle {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
.hero-title-undertitle-thin {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.571;
  color: #b9b9b9;
}
@media screen and (min-width: 1400px) {
  .hero-title-undertitle-thin {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.65;
  }
}
.hero-title-undertitle-bold {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.571;
  color: #111518;
  max-width: 276px;
}
@media screen and (min-width: 1400px) {
  .hero-title-undertitle-bold {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.65;
  }
}
.hero-title-undertitle-accent-text {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.571;
  color: #ff6b09;
}
@media screen and (min-width: 1400px) {
  .hero-title-undertitle-accent-text {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.65;
  }
}

.features {
  padding-bottom: 50px;
}
@media screen and (min-width: 1400px) {
  .features {
    padding-bottom: 130px;
    padding-top: 50px;
  }
}

@media screen and (max-width: 767px) {
  .features-list-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .features-list {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1400px) {
  .features-list {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.65;
  }
}
.features-list-item {
  margin: 0 auto;
  position: relative;
  padding-left: 65px;
  padding-top: 0;
  vertical-align: middle;
  max-width: 230px;
}
@media screen and (min-width: 768px) {
  .features-list-item {
    max-width: 230px;
  }
}
@media screen and (min-width: 1400px) {
  .features-list-item {
    max-width: 448px;
    padding-left: 89px;
    padding-top: 16px;
  }
}
.features-list-item::before {
  display: block;
  content: "";
  width: 60px;
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
@media screen and (min-width: 1400px) {
  .features-list-item::before {
    width: 100px;
    height: 100px;
  }
}
.features-list-item:nth-child(1):before {
  background-image: url("/group-1.2ee2a63f.svg");
}
.features-list-item:nth-child(2):before {
  background-image: url("/group-2.589f4046.svg");
}
.features-list-item:nth-child(3):before {
  background-image: url("/group-3.637149a6.svg");
}

.challenges {
  padding-top: 50px;
  padding-bottom: 400px;
  background-color: #111518;
}
.challenges-title {
  text-align: left;
}
.challenges .accent-color {
  color: #ff6b09;
}

.absolute-list {
  position: absolute;
  top: -35px;
  left: 0;
  transform: translateY(50%);
  width: 100%;
}
.absolute-list .challenges-list {
  list-style-type: none;
  counter-reset: my-counter;
  padding-left: 30px;
  padding-right: 14px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #ffffff;
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
}
.absolute-list .challenges-list-item {
  position: relative;
  margin-bottom: 10px;
}
.absolute-list .challenges-list-item::before {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.643;
  content: "0" counter(my-counter);
  counter-increment: my-counter;
  display: inline-block;
  margin-bottom: 5px;
  margin-left: 22px;
  color: #ff6b09;
}
.absolute-list .challenges-list-item::after {
  position: absolute;
  top: 11px;
  left: 0;
  content: "";
  display: inline-block;
  margin-right: 6px;
  width: 14px;
  height: 1px;
  background-color: #ff6b09;
}

.section-position {
  position: relative;
}

@media screen and (min-width: 768px) and (max-width: 1399px) {
  .challenges {
    padding-top: 60px;
    padding-bottom: 177px;
  }
  .challenges-title {
    font-size: 26px;
    font-weight: 800;
    line-height: 1.308;
    max-width: 450px;
  }

  .absolute-list {
    position: absolute;
    top: 50px;
  }
  .absolute-list .challenges-list {
    padding-left: 96px;
    padding-right: 46px;
    padding-top: 30px;
    padding-bottom: 26px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -11px -11px;
  }
  .absolute-list .challenges-list-item {
    width: calc((100% - 4 * 11px) / 2);
    margin: 11px 11px;
    max-width: 245px;
  }
  .absolute-list .challenges-list-text {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.429;
  }
}
@media screen and (min-width: 1400px) {
  .challenges {
    padding-top: 100px;
    padding-bottom: 282px;
    background-image: url(/bg-challengees.704fa4be.png);
    background-repeat: no-repeat;
    background-position: right bottom;
  }
  .challenges-title {
    font-size: 46px;
    font-weight: 800;
    line-height: 1.304;
    max-width: 850px;
  }

  .absolute-list {
    top: 50%;
    left: 50%;
    transform: translate(-50%, 35%);
  }
  .absolute-list .challenges-list {
    padding-left: 114px;
    padding-right: 112px;
    padding-top: 70px;
    padding-bottom: 62px;
    display: flex;
    flex-wrap: wrap;
    margin: -16px -12px;
  }
  .absolute-list .challenges-list-item {
    width: calc((100% - 6 * 12px) / 3);
    margin: 16px 12px;
    max-width: 350px;
  }
  .absolute-list .challenges-list-item::before {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.65;
    margin-bottom: 10px;
  }
  .absolute-list .challenges-list-item::after {
    top: 16px;
  }
}
.solutions {
  text-align: center;
  padding-top: 198px;
  padding-bottom: 50px;
}

.solutions-title {
  text-align: center;
  max-width: 320px;
  margin: 0 auto;
}

.solutions-list-item-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.429;
  letter-spacing: 0.08em;
  width: 100%;
  text-align: center;
  margin: 0px auto;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.solutions-list-item-text {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.solutions-list-item:hover,
.solutions-list-item:focus {
  background: #ff6b09;
}

.solutions-list-item:hover .solutions-list-item-title,
.solutions-list-item:hover .solutions-list-item-dash,
.solutions-list-item:hover .solutions-list-item-text {
  color: #ffffff;
}

.solutions-list-item {
  text-align: center;
  padding-top: 30px;
  background: #ffffff;
  box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.solutions-list-item-svg {
  fill: #ff6b09;
  margin-bottom: 20px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.solutions-list-item-svg:hover {
  fill: #ffffff;
}

.solutions-list-item:hover .solutions-list-item-svg,
.solutions-list-item:focus .solutions-list-item-svg {
  fill: #ffffff;
}

.solutions-list-item-dash {
  height: 32px;
  color: #ff6b09;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.65;
  letter-spacing: 0.08em;
  margin-top: 5px;
  margin-bottom: 5px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 320px) {
  .solutions-list {
    margin-top: 30px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .solutions-list-item {
    margin: 0 auto;
    padding-bottom: 22px;
    width: 280px;
    height: 280px;
  }

  .solutions-list-item:not(:last-child) {
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 768px) {
  .solutions {
    padding-top: 250px;
  }

  .solutions-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .solutions-list-item {
    padding-top: 40px;
  }

  .solutions-list-item-svg {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1399px) {
  .solutions-title {
    max-width: 688px;
  }

  .solutions-list-item:nth-child(odd) {
    margin-right: 20px;
  }

  .solutions-list-item:nth-child(-n+4) {
    margin-bottom: 27px;
  }

  .solutions-list-item-dash {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .solutions-list-item {
    width: 334px;
    height: 334px;
    padding: 40px 15px 0;
  }
}
@media screen and (min-width: 1400px) {
  .solutions {
    padding-top: 280px;
    padding-bottom: 164px;
  }

  .solutions-title {
    text-align: left;
    padding: 0;
    max-width: 100%;
  }

  .solutions-list-item-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: 0.08em;
  }

  .solutions-list {
    margin: calc(50px - 10px) -10px -10px;
  }

  .solutions-list-item {
    height: 396px;
    padding: 40px 30px 55px;
    width: calc((100% - 6 * 10px) / 3);
    margin: 10px;
  }
}
.program {
  padding-bottom: 537px;
  padding-top: 50px;
  background-color: #111518;
}
.program-title {
  margin-bottom: 43px;
  text-align: center;
}
.program-list {
  margin-left: 74px;
}
.program-list-item {
  position: relative;
  padding-bottom: 40px;
  padding-left: 26px;
}
.program-list-item:not(:last-child) {
  border-left: 1px solid #ffffff;
}
.program-list-item::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: -6px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ff6b09;
}
.program-list-item-title {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  color: #ffffff;
}

.topic-list {
  margin-bottom: 8px;
}
.topic-list-title {
  display: flex;
  margin-bottom: 5px;
  height: 32px;
  align-items: center;
  font-weight: 700;
  color: #ff6b09;
}
.topic-list-title::before {
  content: "";
  display: inline-block;
  margin-right: 5px;
  width: 12px;
  height: 1px;
  background-color: #ff6b09;
}
.topic-list-item {
  opacity: 0.5;
}

.photo-position {
  position: relative;
}

.photo-program {
  position: absolute;
  bottom: -50px;
  right: -20px;
}

.choose {
  position: absolute;
  bottom: 130px;
  left: 0;
  width: 100%;
  transform: translateY(50%);
}
.choose-title {
  width: 180px;
  margin-bottom: 30px;
}
.choose-list {
  list-style-type: none;
  counter-reset: my-counter;
  padding: 20px 14px 20px 30px;
  background: #ffffff;
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
}
.choose-list-item {
  position: relative;
  margin-bottom: 20px;
}
.choose-list-item::before {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.643;
  content: "0" counter(my-counter);
  counter-increment: my-counter;
  display: inline-block;
  margin-bottom: 10px;
  margin-left: 22px;
  color: #ff6b09;
}
.choose-list-item::after {
  position: absolute;
  top: 11px;
  left: 0;
  content: "";
  display: inline-block;
  margin-right: 6px;
  width: 14px;
  height: 1px;
  background-color: #ff6b09;
}
.choose-list-item-title {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.643;
  color: #ff6b09;
}

.choose-position {
  position: relative;
}

@media screen and (min-width: 768px) and (max-width: 1399px) {
  .program {
    padding-top: 60px;
    padding-bottom: 360px;
  }
  .program-title {
    font-size: 26px;
    font-weight: 800;
    line-height: 1.308;
    text-align: left;
  }
  .program-list {
    margin-left: 65px;
  }

  .semester-list {
    display: flex;
  }
  .semester-list-item {
    width: 176px;
  }
  .semester-list-item:nth-child(2) {
    width: 155px;
  }
  .semester-list-item:nth-child(3) {
    width: 110px;
  }
  .semester-list-item:not(:last-child) {
    margin-right: 50px;
  }

  .photo-program {
    bottom: -90px;
    right: -12px;
  }

  .choose {
    bottom: 0;
  }
  .choose-title {
    font-size: 26px;
    font-weight: 800;
    line-height: 1.308;
    text-align: center;
    width: 100%;
  }
  .choose-list {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 118px 25px 98px;
    margin: -10px -10px;
  }
  .choose-list-item {
    width: calc((100% - 4 * 10px) / 2);
    margin: 10px 10px;
  }
}
@media screen and (min-width: 1400px) {
  .program {
    position: relative;
    padding-top: 120px;
    padding-bottom: 363px;
  }
  .program::before {
    content: "";
    display: block;
    position: absolute;
    top: 292px;
    width: 100%;
    height: 1px;
    background-color: #ffffff;
  }
  .program-title {
    margin-bottom: 160px;
    font-size: 46px;
    font-weight: 800;
    line-height: 1.304;
    text-align: left;
  }
  .program-list {
    margin-left: 0;
    display: flex;
    justify-content: space-between;
  }
  .program-list-item {
    padding-bottom: 0;
    padding-left: 0;
  }
  .program-list-item::before {
    top: -52px;
    left: 0;
  }
  .program-list-item:not(:last-child) {
    border-left: none;
  }
  .program-list-item-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 25px;
  }

  .semester-list {
    display: block;
  }
  .semester-list-item {
    width: 240px;
  }

  .topic-list {
    margin-bottom: 25px;
  }
  .topic-list-item:last-child {
    width: 240px;
  }
  .topic-list-item-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.65;
  }

  .photo-program {
    bottom: -280px;
    right: unset;
    left: -183px;
  }

  .choose {
    bottom: 0;
  }
  .choose-title {
    display: none;
  }
  .choose-list {
    display: flex;
    flex-wrap: wrap;
    padding: 70px 82px 70px 84px;
    margin: -16px -20px;
  }
  .choose-list-item {
    max-width: calc((100% - 6 * 20px) / 3);
    margin: 16px 20px;
  }
  .choose-list-item::before {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.65;
  }
  .choose-list-item::after {
    top: 16px;
  }
  .choose-list-item-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.65;
  }
  .choose-list-item-text {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.4;
  }
}
.teacher {
  padding-top: 270px;
  padding-bottom: 50px;
}

.teacher-title {
  margin-bottom: 20px;
}

.teacher-title-name {
  font-size: 20px;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 30px;
  margin-top: 20px;
  height: 36px;
  border-bottom: 1px solid #e5e5e5;
}

.teacher-title-list-item::before {
  content: "";
  display: block;
  height: 14px;
  width: 17px;
  fill: #ff6b09;
  background-image: url(/galochka.e2b61f86.svg);
  flex-shrink: 0;
  position: absolute;
  background-repeat: no-repeat;
}

.teacher-title-list-item-position {
  position: relative;
  padding-left: 25px;
}

.teacher-title-list {
  margin-bottom: 34px;
}

.teacher-title-list-item {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.214;
  letter-spacing: 0.06em;
  color: #111518;
}
.teacher-title-list-item:not(:last-child) {
  margin-bottom: 15px;
}

.teacher-list-item-dash {
  height: 32px;
  color: #ff6b09;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.65;
  letter-spacing: 0.08em;
  margin-top: 5px;
  margin-bottom: 5px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.teacher-achievements-dach::before {
  content: "";
  display: block;
  height: 2px;
  width: 20px;
  background-color: #ff6b09;
  margin-bottom: 10px;
  margin-top: -20px;
}

.teacher-achievements:not(:last-child) {
  margin-bottom: 10px;
}

.teacher-achievements-link {
  color: #ff6b09;
}

@media screen and (min-width: 768px) {
  .teacher {
    padding-top: 302px;
    padding-bottom: 50px;
  }

  .position {
    display: flex;
  }

  .teacher-rigt-side {
    margin-left: 40px;
  }

  .teacher-title {
    font-size: 26px;
    font-weight: 800;
    line-height: 1.308;
    margin-bottom: 30px;
  }

  .teacher-title-name {
    font-size: 20px;
    font-weight: 800;
    line-height: 1.7;
    margin-bottom: 15px;
    height: 40px;
  }

  .teacher-title-list-item {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.214;
    letter-spacing: 0.06em;
  }

  .teacher-title-list-item:not(:last-child) {
    margin-bottom: 15px;
  }

  .teacher-achievements-dach::before {
    margin-bottom: 20px;
    margin-top: -10px;
  }

  .teacher-rigt-side {
    padding-top: 40px;
  }
}
@media screen and (min-width: 1400px) {
  .teacher {
    padding-top: 329px;
    padding-bottom: 130px;
  }

  .teacher-title-img {
    height: 300px;
    width: 400px;
  }

  .teacher-title {
    font-size: 46px;
    font-weight: 800;
    line-height: 1.304;
    margin-bottom: 50px;
  }

  .teacher-title-name {
    font-size: 30px;
    font-weight: 800;
    line-height: 1.233;
    height: 58px;
  }

  .teacher-title-list-item::before {
    height: 24px;
    width: 20px;
    background-size: cover;
  }

  .teacher-title-list-item-position {
    margin-left: 34px;
  }

  .teacher-rigt-side {
    margin-left: 31px;
  }

  .teacher-title-list-item {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: 0.06em;
  }

  .teacher-title-list-item:not(:last-child) {
    margin-bottom: 15px;
  }

  .teacher-achievements-dach::before {
    margin-top: -5px;
    margin-left: 5px;
  }

  .teacher-achievements {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.556;
  }

  .teacher-achievements-link {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.556;
  }

  .teacher-rigt-side {
    padding-top: 90px;
  }
}
.guarantees-title {
  text-align: center;
  margin-bottom: 30px;
}
.guarantees-list {
  background: #f1f1f1;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
}
.guarantees-list-item {
  display: flex;
  position: relative;
}
.guarantees-list-item:not(:last-child) {
  border-left: 1px dashed #b9b9b9;
}
.guarantees-list-item-text {
  margin-left: 20px;
}
.guarantees-list-item::before {
  content: "";
  display: block;
  width: 22px;
  height: 35px;
  background-image: url(/fire.8570960f.svg);
  background-repeat: no-repeat;
  background-color: #f1f1f1;
  flex-shrink: 0;
  margin-left: 10px;
  position: absolute;
  top: 0px;
  left: -21px;
}
.guarantees .text-color {
  color: #ff6b09;
}

@media screen and (max-width: 767px) {
  .guarantees-list-item:not(:last-child) {
    padding-bottom: 23px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1399px) {
  .guarantees-list {
    padding-right: 80px;
    padding-left: 50px;
    margin: 0 auto;
  }

  .guarantees-list-item:not(:last-child) {
    padding-bottom: 20px;
  }

  .guarantees-list-item-text {
    margin-left: 25px;
  }
}
@media screen and (min-width: 1400px) {
  .guarantees-title {
    font-size: 46px;
    font-weight: 800;
    line-height: 1.304;
    margin-bottom: 50px;
  }

  .guarantees-list {
    padding: 50px 112px 45px 112px;
  }
  .guarantees-list-item {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.4;
  }

  .guarantees-list-item-text {
    font-size: 20px;
    line-height: 1.4;
    margin-left: 30px;
  }

  .guarantees-list-item:not(:last-child) {
    padding-bottom: 20px;
  }
}
.feedbacks {
  text-align: center;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.feedbacks .container {
  position: relative;
}

.feedbacks-title {
  width: 100%;
  height: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.feedbacks-card {
  padding: 20px 20px 30px;
  margin-bottom: 20px;
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
}

.feedbacks-photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.feedbacks-photo-img {
  width: 90px;
}

.feedbacks-student-photos-item .feedbacks-photo-img {
  width: 54px;
  cursor: pointer;
}

.feedbacks-student-photos-list {
  height: 54px;
  width: 182px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.feedbacks-student-photos-list::before,
.feedbacks-student-photos-list::after {
  content: "";
  width: 25px;
  height: 15px;
  position: absolute;
  bottom: 25px;
  border: 3px solid #ff6b09;
  box-sizing: border-box;
  cursor: pointer;
}

.feedbacks-student-photos-list::before {
  background-image: url("/arrow-1.f340b5b0.svg");
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  left: 40px;
}

.feedbacks-student-photos-list::after {
  background-image: url("/arrow-2.aebb3cd3.svg");
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  right: 40px;
}

.feedbacks-photo-svg {
  height: 70px;
  fill: #436eab;
  cursor: pointer;
}

.feedbacks-student-title {
  width: 100%;
  margin: 0 auto;
  font-size: 14px;
  font-weight: 800;
  line-height: 1.214;
  text-align: center;
  color: #ff6b09;
  margin-bottom: 10px;
}

.feedbacks-student-about {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.25;
  text-align: center;
  color: #b9b9b9;
  margin-bottom: 10px;
}

.feedbacks-student-about-text {
  text-align: center;
  letter-spacing: 0.01em;
}

.feedbacks-student-accent {
  text-align: center;
  color: #ff6b09;
}

.feedbacks-student-photos-item:not(:last-child) {
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .feedbacks-title {
    width: 100%;
    height: 32px;
    margin-bottom: 30px;
    font-size: 26px;
    font-weight: 800;
    line-height: 1.308;
    text-align: center;
    letter-spacing: 0.03em;
    color: #111518;
  }

  .feedbacks-card {
    display: flex;
    padding: 40px 40px 40px 40px;
  }

  .feedbacks-photo-img {
    width: 150px;
  }

  .feedbacks-student {
    padding-left: 46px;
    text-align: left;
  }

  .feedbacks-student-title {
    width: 100%;
    margin: 0 auto;
    text-align: left;
    font-size: 20px;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: 0.08em;
    color: #ff6b09;
    margin-bottom: 20px;
  }

  .feedbacks-student-about {
    text-align: left;
    margin-bottom: 20px;
  }

  .feedbacks-student-about-text {
    text-align: left;
  }

  .feedbacks-student-accent {
    text-align: left;
    color: #ff6b09;
  }

  .feedbacks-student-photos-list::before,
.feedbacks-student-photos-list::after {
    content: "";
    width: 25px;
    height: 15px;
    position: absolute;
    top: 45%;
  }

  .feedbacks-student-photos-list {
    height: 54px;
    width: 558px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .feedbacks-student-photos-item:not(:last-child) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 1400px) {
  .feedbacks {
    padding: 130px 57px 130px 55px;
  }

  .feedbacks-title {
    width: 100%;
    height: 57px;
    margin-bottom: 50px;
    font-size: 46px;
    font-weight: 800;
    line-height: 1.304;
    text-align: center;
    letter-spacing: 0.03em;
    color: #111518;
  }

  .feedbacks-card {
    display: flex;
    padding: 50px 112px 51px 82px;
    margin-bottom: 40px;
    margin-left: 112px;
    margin-right: 112px;
  }

  .feedbacks-student {
    padding-left: 40px;
    text-align: left;
  }

  .feedbacks-student-title {
    width: 100%;
    margin: 0 auto;
    text-align: left;
    font-size: 30px;
    font-weight: 800;
    line-height: 1.233;
    color: #ff6b09;
    margin-bottom: 10px;
  }

  .feedbacks-student-about {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.214;
    color: #b9b9b9;
    width: 438px;
  }

  .feedbacks-student-about-text {
    letter-spacing: 0em;
  }

  .feedbacks-student-accent {
    text-align: left;
    color: #ff6b09;
  }

  .feedbacks-student-photos-list::before,
.feedbacks-student-photos-list::after {
    content: "";
    width: 25px;
    height: 15px;
    position: absolute;
    top: 45%;
  }

  .feedbacks-student-photos-list::before {
    left: 0;
  }

  .feedbacks-student-photos-list::after {
    right: 0;
  }
}
.registration {
  padding-top: 50px;
  padding-bottom: 50px;
}

@media screen and (max-width: 767px) {
  .registration {
    content: "";
    background-image: url(/mobile-registration-img.a44f6518.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #111518;
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .registration {
    content: "";
    background-image: url(/mobile-registration-img@2x.bd4d7ae8.png);
    background-color: #111518;
  }
}
.registration-title {
  font-size: 14px;
  font-weight: 800;
  line-height: 1.357;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 30px;
}

.registration-title-zayavka {
  font-size: 12px;
  font-weight: 600;
  line-height: 1.25;
  text-align: center;
  color: #ffffff;
  margin-bottom: 30px;
}

.registration-accent {
  color: #ff6b09;
}

.registration-form-name {
  display: flex;
  align-items: center;
  padding-left: 28px;
  margin-bottom: 20px;
  width: 100%;
  height: 48px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.214;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  background-color: transparent;
}
.registration-form-name::placeholder {
  color: #ffffff;
}

.registration-form-phone {
  display: flex;
  align-items: center;
  padding-left: 28px;
  margin-bottom: 50px;
  width: 100%;
  height: 48px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.214;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  background-color: transparent;
}
.registration-form-phone::placeholder {
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .registration {
    content: "";
    min-width: 720px;
    background-image: url(/tablet-registration-img.e229010d.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #111518;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .registration {
    content: "";
    background-image: url(/tablet-registration-img@2x.51be7ba3.png);
    background-color: #111518;
  }
}
@media screen and (min-width: 768px) {
  .registration {
    padding-bottom: 71px;
    padding-top: 50px;
  }
}
@media screen and (min-width: 768px) {
  .registration-title {
    font-size: 26px;
    font-weight: 800;
    line-height: 1.308;
    letter-spacing: 0.03em;
    color: #ffffff;
  }
}
@media screen and (min-width: 768px) {
  .registration-title-zayavka {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.214;
    width: 490px;
    margin: 0 auto;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .registration-form-name {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    width: 390px;
    height: 48px;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    background-color: transparent;
  }
  .registration-form-name::placeholder {
    color: #ffffff;
  }
}
@media screen and (min-width: 768px) {
  .registration-form-phone {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    width: 390px;
    height: 48px;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    background-color: transparent;
  }
  .registration-form-phone::placeholder {
    color: #ffffff;
  }
}
@media screen and (min-width: 768px) {
  .registration-form-btn {
    margin-bottom: 1px;
  }
}
@media screen and (min-width: 1400px) {
  .registration {
    content: "";
    min-width: 1400px;
    background-image: url(/desktop-registration-img.efb34a48.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #111518;
  }
}
@media screen and (min-width: 1400px) and (min-device-pixel-ratio: 2), screen and (min-width: 1400px) and (min-resolution: 192dpi), screen and (min-width: 1400px) and (min-resolution: 2dppx) {
  .registration {
    content: "";
    background-image: url(/desktop-registration-img@2x.345b92fd.png);
    background-color: #111518;
  }
}
@media screen and (min-width: 1400px) {
  .registration {
    padding-bottom: 62px;
    padding-top: 100px;
  }
}
@media screen and (min-width: 1400px) {
  .registration-title {
    font-size: 46px;
    font-weight: 800;
    line-height: 1.304;
    text-align: center;
    letter-spacing: 0.03em;
    width: 1100px;
    margin: 0 auto;
    margin-bottom: 50px;
    color: #ffffff;
  }
}
@media screen and (min-width: 1400px) {
  .registration-title-zayavka {
    font-size: 30px;
    font-weight: 600;
    line-height: 1.233;
    text-align: center;
    width: 900px;
    margin-bottom: 56px;
  }
}
@media screen and (min-width: 1400px) {
  .registration-form-name {
    width: 478px;
    height: 70px;
    margin-bottom: 30px;
    padding-left: 40px;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    color: #ffffff;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    background-color: transparent;
  }
  .registration-form-name::placeholder {
    color: #ffffff;
  }
}
@media screen and (min-width: 1400px) {
  .registration-form-phone {
    width: 478px;
    height: 70px;
    margin-bottom: 80px;
    padding-left: 40px;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    color: #ffffff;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    background-color: transparent;
  }
  .registration-form-phone::placeholder {
    color: #ffffff;
  }
}
.footer {
  padding-top: 30px;
  text-align: center;
}
.footer .logo-main {
  display: none;
}
.footer .logo-mobile.link {
  display: block;
  line-height: 0px;
}
.footer-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 21px;
  font-size: 14px;
  font-weight: 600 17px;
  line-height: 1.714;
}
.footer-contact-tel {
  color: #111518;
  font-style: normal;
}
.footer-contact::before {
  content: "";
  display: block;
  margin-right: 10px;
  width: 20px;
  height: 19px;
  background-image: url(/phone.b979c70b.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.footer-social-link::after {
  content: "";
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-top: 31px;
  margin-bottom: 30px;
  background-image: url(/instagram.244b4cdf.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.footer-policy {
  background-color: #111518;
}
.footer-policy-text {
  display: block;
  padding-top: 21px;
  padding-bottom: 21px;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  line-height: 2;
  color: #b9b9b9;
}

@media screen and (min-width: 768px) {
  .footer .logo-main {
    display: flex;
  }
  .footer .logo-mobile-svg {
    display: none;
  }

  .footer {
    text-align: left;
    padding: 0;
  }
  .footer-container {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .footer-contact {
    display: flex;
    align-items: center;
    padding-top: 11px;
    padding-bottom: 10px;
    padding-right: 24px;
    margin: 0;
    margin-left: auto;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    border-right: 1px solid #3d3d3d;
  }
  .footer-contact::before {
    width: 24px;
    height: 23px;
    background-size: cover;
  }
  .footer-social-link:after {
    margin-left: 24px;
  }
}
@media screen and (min-width: 1400px) {
  .footer {
    text-align: left;
  }
  .footer-container {
    padding-top: 52px;
    padding-bottom: 53px;
  }
  .footer-contact {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 16px;
    margin-left: 290px;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.233;
  }
  .footer-contact::before {
    width: 30px;
    height: 29px;
  }
}
.primary-button {
  font-size: 12px;
  font-weight: 700;
  line-height: 1.25;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: inherit;
  width: 100%;
  margin: 0 auto;
  max-width: 270px;
  min-height: 48px;
  padding: 15px 5px;
  background-color: #ff6b09;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.primary-button:hover, .primary-button:focus {
  box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.25);
  outline: none;
}
@media screen and (min-width: 1400px) {
  .primary-button {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.214;
    min-width: 354px;
    min-height: 70px;
    letter-spacing: 0.14em;
  }
}

@media screen and (min-width: 768px) {
  .primary-button.button-hero {
    margin: 0;
  }
}

.logo-main {
  display: flex;
  align-self: center;
  flex-wrap: wrap;
  width: 128px;
  height: 45px;
  border: none;
}
.logo-main-hell, .logo-main-en {
  font-size: 26px;
  font-weight: 800;
  line-height: 1.231;
  letter-spacing: 0.04em;
  color: #111518;
}
.logo-main-ad {
  margin-right: 2px;
  margin-left: 2px;
  margin-top: 3px;
  font-size: 8px;
  font-weight: 800;
  line-height: 1.25;
  letter-spacing: 0.18em;
  color: #ff6b09;
}
.logo-main-eng {
  margin-top: 3px;
  font-size: 8px;
  font-weight: 800;
  line-height: 1.25;
  letter-spacing: 0.18em;
  color: #111518;
}
.logo-main-fire {
  margin-left: 3px;
  margin-right: 4px;
  fill: #ff6b09;
}

/*# sourceMappingURL=/src.e31bb0bc.css.map */