.button {
  @include font(12px, 700, 15px);
  width: 100%;
  max-width: 300px;
  min-height: 48px;
  display: block;
  letter-spacing: inherit;
  line-height: inherit;
  padding: 15px 5px;
  background-color: $white-color;

  border: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.25);
    outline: none;
  }

  @media screen and (min-width: 1400px) {
    @include font(14px, 700, 17px);
    min-width: 354px;
    min-height: 70px;
    letter-spacing: 0.14em;
    margin: 40px auto 100px 0;
  }
}

.button-accent {
  background-color: $accent-color;
  margin: 0 auto;
  color: $white-color;

  @media screen and (min-width: 768px) {
    margin-left: 0;
  }
}
